{% extends "public/base.html.twig" %}


{% block title %}Accueil | Les recettes de Roberto{% endblock %}

{% block body %}

    <main>

        {% if error %}
            <div>{{ error.messageKey }}</div>
        {% endif %}


        <form action="{{ path('login') }}" method="POST">

            <label> Username
                <input type="text" name="_username" value="{{ lastUsername }}" />
            </label>

            <label> Mot de passe
                <input type="password" name="_password" />
            </label>


            <input type="submit" value="Se connecter">

        </form>

    </main>

{% endblock %}